body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: linear-gradient(
    -90deg,
    #f6d365 2.92%,
    #f6d365 49.27%,
    #fda085 100%
  );
  background-attachment:fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  overflow : hidden;
  gap: 10px;
}
.name {
  font-family: Holtwood One SC;
  font-weight: 400;
  font-size: 48px;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: default;
}
.calcBackground {
  display: flex;
  align-items: center;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  border-radius: 30px;
}
.btn {
  background-color: #32395b;
  font-family: inter;
  font-weight: 900;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn:active {
  background-color: #182466;
  transform: translateY(2px);
}
.display {
  width: 100%;
  background-color: #32395b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 130px;
  padding: 10px;
  box-sizing: border-box;
}
.displayMain {
  width: 100%;
  height: 60%;
  font-family: inter;
  font-weight: 900;
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}
.displaySub {
  width: 100%;
  height: 40%;
  font-weight: 900;
  font-family: inter;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: white;
}
.layout {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.icn {
  font-size: 28px;
}
.iconGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.btnbg {
  width: 60px;
  height: 60px;
  background: rgba(252, 169, 128, 0.63);
  backdrop-filter: blur(25px);
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
.btnbg:hover {
  transform: translateY(-4px);
}
.iconGroupIcn {
  color: white;
  font-size: 40px;
}
@media (max-width: 600px) {
  .name {
    font-size: 32px;
    writing-mode: horizontal-tb;
    text-orientation: upright;
  }
  .wrapper {
    flex-direction: column;
  }
  .calcBackground {
    margin-top: -15px;
    width: 85%;
    min-width: auto;
    max-width: 85%;
  }
  .iconGroup {
    flex-direction: row;
  }
  .btnbg {
    width: 40px;
    height: 40px;
  }
  .iconGroupIcn {
    font-size: 30px;
  }
}
